In [184]:
from __future__ import print_function
import pickle
import os.path
from googleapiclient.discovery import build
from google_auth_oauthlib.flow import InstalledAppFlow
from google.auth.transport.requests import Request

In [185]:
creds = None
# The file token.pickle stores the user's access and refresh tokens, and is
# created automatically when the authorization flow completes for the first
# time.
if os.path.exists('token.pickle'):
    with open('token.pickle', 'rb') as token:
        creds = pickle.load(token)
# If there are no (valid) credentials available, let the user log in.
if not creds or not creds.valid:
    if creds and creds.expired and creds.refresh_token:
        creds.refresh(Request())
    else:
        flow = InstalledAppFlow.from_client_secrets_file(
            'credentials.json')
        creds = flow.run_local_server(port=0)
    # Save the credentials for the next run
    with open('token.pickle', 'wb') as token:
        pickle.dump(creds, token)

service = build('sheets', 'v4', credentials=creds)

In [204]:
spreadsheet_id = '1SOuoGLFxmTfSWFoFDKRH9283eLkaoRZHYyMRNC1s9rg'
range_name = 'Fall 2020!A1:E279'
result = service.spreadsheets().values().get(
    spreadsheetId=spreadsheet_id, range=range_name).execute()
values = result.get('values', [])
if not values:
    print('No data found.')
else:
    rows = sheet.values().get(spreadsheetId=spreadsheet_id,
                              range=range_name).execute()
    data = rows.get('values')
    print("COMPLETE: Data copied")
print('{0} rows retrieved.'.format(len(data)))

COMPLETE: Data copied
279 rows retrieved.

In [219]:
import pandas as pd
df = pd.DataFrame(data[2:], columns=data[1])

In [220]:
#all_data['Price Each'] = pd.to_numeric(all_data['Price Each'])
df['Total'] = pd.to_numeric(df['Total'])
df['Name'] = df['First'] + " "+ df['Last']
df = df.drop(['First', 'Last'], axis=1)

In [221]:
current = df.loc[df['Name'] == 'christine lambert']

In [222]:
names = df['Name']
names = names.str.lower()
df['Name'] = names
df

                      Major  Year  Total               Name
0    Electrical Engineering  5EG+     27  christine lambert
1    Electrical Engineering  5EG+     21     olivia brandel
2    Mechanical Engineering   2EG     21   madeline stophel
3    Electrical Engineering   3EG     20      alyssa caples
4    Electrical Engineering   3EG     16     bailey ballard
..                      ...   ...    ...                ...
272                       ?     ?      1     abigail berlin
273  Mechanical Engineering   1EG      1    anissa mansouri
274    Computer Engineering   1EG      1       lily penoyer
275  Electrical Engineering   2EG      1       madison hall
276  Electrical Engineering   2EG      1     lauren proctor

[277 rows x 4 columns]

In [223]:
current

Empty DataFrame
Columns: [Major, Year, Total, Name]
Index: []

In [224]:
current['Major']

Series([], Name: Major, dtype: object)

In [225]:
message = "sweetie alyssa caples"
if (len(message.split()) > 2):
    print("hey")

hey

In [226]:
def get_sweetie(message):
  if(len(message.split()) > 2):
    first = message.split()[1]
    last = message.split()[2:]
    str1 = " "
    searched_name = first + " " + str1.join(last)
    print(searched_name)
    lower_name = searched_name.lower()
    print(lower_name)
    try:
        current = df.loc[df['Name'] == lower_name]
        s = str(searched_name + " is a " + str(current['Year'].values[0]) + " " + str(current['Major'].values[0]) + " major with " + str(current['Total'].values[0]) + " SWE points.")
        return s
    except Exception as e:
        print(e)
        return "Do not know that SWEetie :("
    
  else:
    return "Do not know that SWEetie :("

message = "sweetie Alyssa caples"
found = get_sweetie(message)
print()
print()
print(found)

Alyssa caples
alyssa caples


Alyssa caples is a 3EG Electrical Engineering major with 20 SWE points.

In [297]:
def get_top_sweetie(message):
    message = message.replace("!top", " ")
    top = df[df.Total == df.Total.max()]
    s = str(top['Name'].values[0]) + " is the top SWEetie! (in points, at least)"
    return s

def get_top_ten():
    top = df.sort_values(['Total', 'Name'], ascending=False).groupby('Name').head(10)
    t = top.head(10)['Name']
    p = top.head(10)['Total']
    names = []
    for index, current in enumerate(t):
        value = index + 1
        s = str(value) + ": " + current
        names.append(s)
    
    str1 = ", "
    names = str1.join(names)
    return names
    
message = "sweetie Alyssa caples"
found = get_top_ten()
print(found)

10
1: christine lambert, 2: olivia brandel, 3: madeline stophel, 4: alyssa caples, 5: bailey ballard, 6: kathleen yang, 7: bryana prado, 8: rachel blaydes, 9: kayla kent, 10: katherine muratti

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>